<aside>
  <app-loader *ngIf="loaderChecker;else filterTemplate"></app-loader>
  <ng-template #filterTemplate>
    <div class="container-fluid">
        <ul>
          <li *ngFor="let item of filterArr; index as i">
            <input type="checkbox" [id]="item" name="item" [value]="item" [formControl]="categoriesFormArray.controls[i]" (change)="setItemValue(i, item)">
            <label for="item"> {{item}}</label>
          </li>
        </ul>
      <button (click)="setCategoriesList()" >APPLY</button>
    </div>
  </ng-template>
</aside>
