.drinkContainer {
    width: calc((100vw - 220px)/6);
    min-width: 220px;
    text-align: center;
    padding: 0 35px;
    margin-bottom: 40px;
  .drink {
    width: 150px;
    height: 200px;
    text-align: center;

    .imgWrapper {
      width: 150px;
      height: 150px;

      img {
        width: 100%;
      }
    }

    .drinkName {
      position: relative;
      left: -34px;
      width: 218px;
      margin-top: 20px;
      font-family: Roboto;
      font-style: normal;
      font-weight: normal;
      font-size: 18px;
      line-height: 21px;
    }
  }
}

@media screen and (max-width: 500px) {
  .drinkContainer {
    width: 180px;
    min-width: 180px;
  }
}