<!-- As usually I create a new component to header tag but in this case code is to short. Thats why I wright header in app component -->
<header>
  <div class="headerTextWrapper">
    <h1 class="headerText">
      Coctail DB
    </h1>
  </div>
  <div class="headerIcon"></div>
</header>
  <div class="wrapper">
    <app-aside (approveDrinksListCheckerEmitter)="changeDrinksListChecker($event)"></app-aside>
    <app-main (cancelDrinksListCheckerEmitter)="changeDrinksListChecker($event)" [newDrinkList]="drinksListChecker"></app-main>
  </div>