header{
position: fixed;
width: 100%;
height: 70px;
left: 0px;
top: 0px;
padding: 14px;
text-align: center;
}
h1{
font-family: seaweedScript;
font-weight: normal;
font-size: 30px;
line-height: 41px;
letter-spacing: 0.51em;
color: #FF8A00;
font-style: italic;
}